<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
    <title>AngularJS Instant Tweet Search Application</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/oauth.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <!--<script src="app.js"></script>-->
    <!--<script src="controllers.js"></script>-->
    <!--<script src="services.js"></script>-->
    <style>
        .container {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #results .row {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<script>

    angular.module('twitterApp', ['ngSanitize'])

            .controller('TwitterController', function ($scope, $q, twitterService) {
                $scope.tweets = []; //array of tweets

                twitterService.initialize();

                //using the OAuth authorization result get the latest 20 tweets from twitter for the user
                $scope.refreshTimeline = function (maxId) {
                    console.log(maxId);
                    twitterService.getLatestTweets(maxId).then(function (data) {
                        $scope.tweets = $scope.tweets.concat(data);
                    }, function () {
                        $scope.rateLimitError = true;
                    });
                };

                //when the user clicks the connect twitter button, the popup authorization window opens
                $scope.connectButton = function () {
                    twitterService.connectTwitter().then(function () {
                        if (twitterService.isReady()) {
                            //if the authorization is successful, hide the connect button and display the tweets
                            $('#connectButton').fadeOut(function () {
                                $('#getTimelineButton, #signOut').fadeIn();
                                $scope.refreshTimeline();
                                $scope.connectedTwitter = true;
                            });
                        } else {
                            console.log("Not ready");
                        }
                    });
                };

                //sign out clears the OAuth cache, the user will have to reauthenticate when returning
                $scope.signOut = function () {
                    twitterService.clearCache();
                    $scope.tweets.length = 0;
                    $('#getTimelineButton, #signOut').fadeOut(function () {
                        $('#connectButton').fadeIn();
                        $scope.$apply(function () {
                            $scope.connectedTwitter = false
                        })
                    });
                };

                //if the user is a returning user, hide the sign in button and display the tweets
                if (twitterService.isReady()) {
                    $('#connectButton').hide();
                    $('#getTimelineButton, #signOut').show();
                    $scope.connectedTwitter = true;
                    $scope.refreshTimeline();
                }
            })

            .factory('twitterService', function ($q) {

                var authorizationResult = false;

                return {
                    initialize: function () {
                        //initialize OAuth.io with public key of the application
                        OAuth.initialize('YDmVdoUpWl7Gv3dNMiyGD2oD0eQ', {
                            cache: true
                        });
                        //try to create an authorization result when the page loads,
                        // this means a returning user won't have to click the twitter button again
                        authorizationResult = OAuth.create("twitter");
                        console.log(authorizationResult)
                    },
                    isReady: function () {
                        return (authorizationResult);
                    },
                    connectTwitter: function () {
                        var deferred = $q.defer();
                        OAuth.popup("twitter", {
                            cache: true
                        }, function (error, result) {
                            // cache means to execute the callback if the tokens are already present
                            console.log(error, result);
                            if (!error) {
                                authorizationResult = result;
                                deferred.resolve();
                            } else {
                                //do something if there's an error

                            }
                        });
                        return deferred.promise;
                    },
                    clearCache: function () {
                        OAuth.clearCache('twitter');
                        authorizationResult = false;
                    },
                    getLatestTweets: function (maxId) {
                        //create a deferred object using Angular's $q service
                        var deferred = $q.defer();
                        var url = '/1.1/statuses/home_timeline.json';
                        if (maxId) {
                            url += '?max_id=' + maxId;
                        }
                        var promise = authorizationResult.get(url).done(function (data) {
                            // https://dev.twitter.com/docs/api/1.1/get/statuses/home_timeline
                            // when the data is retrieved resolve the deferred object
                            deferred.resolve(data);
                        }).fail(function (err) {
                            deferred.reject(err);
                        });
                        //return the promise of the deferred object
                        return deferred.promise;
                    }
                }
            });
</script>
<div class="container" ng-controller="TwitterController">
    <h1>AngularJS Instant Tweet Search Application</h1>

    <div class="row">
        <div class="col-xs-6">
            <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect
                Twitter
            </button>
            <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info"
                    style="display:none;">Get My Timeline
            </button>
            <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign
                Out
            </button>
        </div>
        <div class="col-xs-6">
            <input type="text" ng-model="searchTerm" class="form-control" id="searchBox"
                   placeholder="Enter search term here" ng-show="connectedTwitter"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="results">
            <div class="row" ng-repeat="t in tweets | filter:searchTerm">

                <div class="col-xs-2 col-sm-1">
                    <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <small>{{t.user.name}}</small>
                    <br> <span ng-bind-html="t.text"></span>
                </div>

            </div>

            <div ng-show="rateLimitError">
                Rate limit reached. You are making too many requests.
            </div>
            <div>
                <br/>
                <input type="button" class="btn btn-info" id="load-more"
                       ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter"
                       value="Load More"/>
            </div>
        </div>
    </div>
</div>


</body>
</html>